In [1]:
'''
For exploring data
'''
import pandas as pd

In [3]:
# for kaggle finanacial tweets
# https://www.kaggle.com/davidwallach/financial-tweets
df = pd.read_csv("./data/stockerbot-export.csv", error_bad_lines=False)
df

C:\Users\samue\anaconda3\envs\jpm\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 731: expected 8 fields, saw 13\nSkipping line 2836: expected 8 fields, saw 15\nSkipping line 3058: expected 8 fields, saw 12\nSkipping line 3113: expected 8 fields, saw 12\nSkipping line 3194: expected 8 fields, saw 17\nSkipping line 3205: expected 8 fields, saw 17\nSkipping line 3255: expected 8 fields, saw 17\nSkipping line 3520: expected 8 fields, saw 17\nSkipping line 4078: expected 8 fields, saw 17\nSkipping line 4087: expected 8 fields, saw 17\nSkipping line 4088: expected 8 fields, saw 17\nSkipping line 4499: expected 8 fields, saw 12\n'

,id,text,timestamp,source,symbols,company_names,url,verified
0,1019696670777503700,VIDEO: “I was in my office. I was minding my o...,Wed Jul 18 21:33:26 +0000 2018,GoldmanSachs,GS,The Goldman Sachs,https://twitter.com/i/web/status/1019696670777...,True
1,1019709091038548000,The price of lumber $LB_F is down 22% since hi...,Wed Jul 18 22:22:47 +0000 2018,StockTwits,M,Macy's,https://twitter.com/i/web/status/1019709091038...,True
2,1019711413798035500,Who says the American Dream is dead? https://t...,Wed Jul 18 22:32:01 +0000 2018,TheStreet,AIG,American,https://buff.ly/2L3kmc4,True
3,1019716662587740200,Barry Silbert is extremely optimistic on bitco...,Wed Jul 18 22:52:52 +0000 2018,MarketWatch,BTC,Bitcoin,https://twitter.com/i/web/status/1019716662587...,True
4,1019718460287389700,How satellites avoid attacks and space junk wh...,Wed Jul 18 23:00:01 +0000 2018,Forbes,ORCL,Oracle,http://on.forbes.com/6013DqDDU,True
...,...,...,...,...,...,...,...,...
28259,1019730088617635800,$FB : 29234a9c-7f08-4d5a-985f-cb1a5554ecf9,Wed Jul 18 23:46:13 +0000 2018,test5f1798,FB,Facebook,NaN,False
28260,1019730115524288500,【仮想通貨】ビットコインの価格上昇、８０万円台回復 約１カ月半ぶり $BTC ht...,Wed Jul 18 23:46:19 +0000 2018,keizai_toushi17,BTC,Bitcoin,http://keizai-toushi-navi.com/?p=26838,False
28261,1019730115805184000,RT @invest_in_hd: 'Nuff said! $TEL #telcoin #...,Wed Jul 18 23:46:19 +0000 2018,iad81,BTC,Bitcoin,https://twitter.com/CRYPTOVERLOAD/status/10178...,False
28262,1019730117252341800,【仮想通貨】ビットコインの価格上昇、８０万円台回復 約１カ月半ぶり $BTC ht...,Wed Jul 18 23:46:20 +0000 2018,O8viWMyrCV6cBOZ,BTC,Bitcoin,http://true.velvet.jp/monexx/archives/2357,False
28263,1019730146180419600,Stellar $XLM price: $0.297852 Binance registra...,Wed Jul 18 23:46:27 +0000 2018,Descendent92,AMP,Ameriprise Financial,https://twitter.com/i/web/status/1019730146180...,False

In [4]:
for i in df.sample(frac=20/len(df)).text:
    print(i)

Investors Buy Shares of CVS Health $CVS on Weakness https://t.co/615Ijhpt66
Bull&amp;Bear #StockMarket 1929-2025 https://t.co/J51ut469eo #StockAlert $BK $BSQ $GS $MS $STT $BWF $JPM $C $MER-F… https://t.co/IvCHhOrPP2
$1.87 EPS Expected for Molson Coors Brewing Co Class B $TAP This Quarter https://t.co/RTM6ZnYO0P
International Paper $IP Rating Increased to Buy at Wells Fargo &amp; Co https://t.co/tCEtjTwBt6
Wondering about risks of $KMI? The 63-day volatility is 10.32% https://t.co/sjncjuep5b
$LNT Alliant Energy Corporation SEC Filing: Form 4 https://t.co/ozzy7cANhM
Hot Stock of the Day – Robert Half International Inc (NYSE: RHI) https://t.co/khwFNqaphq $RHI #stocks #stockmarket
$JBHT J.B. Hunt Transport Services Inc. SEC Filing: Form 4 https://t.co/2C7LPDcF91
RT @sstrazza: 10 hot tech stocks on my stalk list outperforming today as $XLK leads +1.5% $BZUN 7% $ADSK 3.6% $AMD 2.3% $BIDU 3.7% $NTNX 3.…
Notable #Analyst Upgrades and Downgrades for Week of July 9 2018 $ABB $ADM $AMT $AVGO $BK $CMI $CNI $CP… https://t.co/zsoImV8UoI
Fridays close before the gap down on monday three weeks ago is holding as the pre market resistance. We are trading… https://t.co/Jcv3hfZZqk
@markminervini  $AAP in a vcp setup....?
RT @mchaudhry82: Price &amp;/or Vol Leaders (a/o2:19pmEST): $cpah $MTSL $prpo $STAF $chrs $NXTD $BBOX $CEI $GWW $ERIC $INPX $urg $UAL $MTG 😘 #S…
Zacks: Brokerages Anticipate Waste Management Inc. $WM Will Announce Quarterly Sales of $3.77 Billion https://t.co/EX3304tIHR
The Top Downgrades Today are: $XLRN $T $AVGO $FUN $INCY $INGR $IVZ $LSTR $NWHM $OEC https://t.co/SdfzyJ5eRv
$TJX Is setting up for new highs! Great picture https://t.co/MMa4WUKj6l
$NLY Investor Relations Alert Notification From our Stock News Alerts App
$FISV high OI range is 70.00 to 75.00 for option expiration 07/20/2018 #maxpain #options https://t.co/iLS4mu5ugs https://t.co/splnR7cA7D
Tech action by S&amp;P 500 stocks to 10:00:Bullish. Breakouts: $AMZN $CTAS $CA $EA $FISV $MSFT $TSS $VRSN $ATVI $BLL $PYPL $MNK. Breakdown:$AVGO
$ABBV $APD $CAH $CVX $DOV $ED $JNJ $KMB $KO $MCD $PEP $PG $T $WBA $XOM https://t.co/JWuoLPZVhc

In [5]:
df = pd.read_csv("./data/stocks_cleaned.csv", error_bad_lines=False)
df

C:\Users\samue\anaconda3\envs\jpm\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

    ticker                  name
0     NVAX               Novavax
1     SIRI             Sirius XM
2      QQQ           Invesco QQQ
3     AAPL                 Apple
4     MSFT             Microsoft
..     ...                   ...
578    XYL                 Xylem
579    YUM           YUM! Brands
580    ZBH         Zimmer Biomet
581   ZION  Zions Bancorporation
582    ZTS                Zoetis

[583 rows x 2 columns]

In [6]:
# microsoft twitter log
##### need further checking

In [8]:
# chen's Winning Arguments: Interaction Dynamics and Persuasion Strategies in Good-faith Online Discussions

# load the data
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import tarfile
import os.path
import json
import re
from bz2 import BZ2File
from urllib import request
from io import BytesIO

import numpy as np


fname = "cmv.tar.bz2"
url = "https://chenhaot.com/data/cmv/" + fname

# download if not exists
if not os.path.isfile(fname):
    f = BytesIO()
    with request.urlopen(url) as resp, open(fname, 'wb') as f_disk:
        data = resp.read()
        f_disk.write(data)  # save to disk too
        f.write(data)
        f.seek(0)
else:
    f = open(fname, 'rb')


tar = tarfile.open(fileobj=f, mode="r")

# Extract the file we are interested in

train_fname = "op_task/train_op_data.jsonlist.bz2"
test_fname = "op_task/heldout_op_data.jsonlist.bz2"

train_bzlist = tar.extractfile(train_fname)

# Deserialize the JSON list
original_posts_train = [
    json.loads(line.decode('utf-8'))
    for line in BZ2File(train_bzlist)
]

test_bzlist = tar.extractfile(test_fname)

original_posts_test = [
    json.loads(line.decode('utf-8'))
    for line in BZ2File(test_bzlist)
]
f.close()

In [19]:
from IPython.display import Markdown


def show_post(cmv_post):
    md_format = "**{title}** \n\n {selftext}".format(**cmv_post)
    md_format = "\n".join(["> " + line for line in md_format.splitlines()])
    return Markdown(md_format)

show_post(original_posts_train[12])

> **CMV: Eugenics isn't all that bad... And we don't even have to kill anyone for it**
>
>  Okay, I'm talking about making the human race smarter, forever.
> Intelligence is at least partially genetic and therefore passed down by parents, yes? [Yes.](http://www.the-scientist.com/?articles.view/articleNo/40459/title/Inherited-Intelligence/)
>
> So, what if, instead of killing off the less-intelligent people (I'm against killing. Of most things.) we just limit offspring?
>
> For example, we could use the IQ scale (for want of a better intelligence measure) to determine the number of offspring a person should be able to genetically contribute to.
> Like, round the IQ to the nearest multiple of 50, then divide by 50, and that's the number of offspring you're allowed to create.
>
> So someone with near average intelligence (near 100 IQ, 75-124) would have their IQ rounded to 100 and then divided by 50 to make 2 offspring.
> The total offspring is presumably equal to the number of people who contributed to it. A man and a woman with average IQ can have two children (not each.) and sustain their population.
>
> Conversely, really above average IQs of 125-174 can contribute genetically towards 3 children... and so on.
>
> This would eventually make the human race smarter, and therefore more likely to survive and advance the human race.
>
> I know this would be a bitch to implement and it's near impossible to actually do, but I'm just looking at the concept. I know the IQ test has its faults and every policy can be abused... I know all that.
>
> Exceptions would be made when you accidentally have twins which causes you to go over your limit, or etc. (If a mother can make 2, and has twins, she can't make more, but if she already has one and has twins after one which makes 3, we're not gonna kill one)
>
> Perhaps if you have a major, heritable health issue your IQ has 25 subtracted from it before being rounded? Or maybe weighted differently, like extremely high chance of cancer (almost 100 percent or something) takes off more... Something like that.
>
> Much better than "Kill off those with IQ less than 80"
>
> I wouldn't mind a smarter human race...
>
> EDIT: **I am trying to argue that this process, if not abused, if followed by the people, and if we found an increasingly accurate measure of intelligence, would be ultimately a good thing to advance the human race.**
>
> EDIT 2: "**It looks to me like you've made so many exceptions to your main view that you aren't looking to have your view changed. I'd like to talk about the title of your post, but if you have to make so many exceptions to your view, then it seems you already know it's incorrect.**" -nikeson
> I suppose that's true, now....
> _____
>
> &gt; *Hello, users of CMV! This is a footnote from your moderators. We'd just like to remind you of a couple of things. Firstly, please remember to* ***[read through our rules](http://www.reddit.com/r/changemyview/wiki/rules)***. *If you see a comment that has broken one, it is more effective to report it than downvote it. Speaking of which,* ***[downvotes don't change views](http://www.reddit.com/r/changemyview/wiki/guidelines#wiki_upvoting.2Fdownvoting)****! If you are thinking about submitting a CMV yourself, please have a look through our* ***[popular topics wiki](http://www.reddit.com/r/changemyview/wiki/populartopics)*** *first. Any questions or concerns? Feel free to* ***[message us](http://www.reddit.com/message/compose?to=/r/changemyview)***. *Happy CMVing!*

In [2]:
df = pd.read_json("http://convai.io/data/data_tolokers.json")
df

,dialog,start_time,end_time,bot_profile,user_profile,eval_score,profile_match,participant1_id,participant2_id
0,"[{'id': 0, 'sender': 'participant2', 'text': '...",2018-07-04 08:34:51.235,2018-07-04 08:36:55.484,"[i have amazing children and grandchildren., i...","[two dogs live with me., i like doing the trea...",1.0,0,"{'class': 'User', 'user_id': 'User 00686'}","{'class': 'Bot', 'user_id': 'Bot 002'}"
1,"[{'id': 0, 'sender': 'participant1', 'text': '...",2018-07-04 09:18:28.000,2018-07-04 09:18:35.000,"[my father was a door to door salesman., i've ...",[if i'm not cooking in the kitchen then i'm de...,1.0,1,"{'class': 'User', 'user_id': 'User 00544'}","{'class': 'Bot', 'user_id': 'Bot 006'}"
2,"[{'id': 0, 'sender': 'participant1', 'text': '...",2018-07-04 09:20:35.000,2018-07-04 09:20:52.000,"[i am a gold medalist olympian., i love italia...","[i've a german shepherd dog., i live is a rura...",1.0,1,"{'class': 'User', 'user_id': 'User 00544'}","{'class': 'Bot', 'user_id': 'Bot 005'}"
3,"[{'id': 0, 'sender': 'participant2', 'text': '...",2018-07-04 09:23:15.202,2018-07-04 09:23:15.202,"[i fantasize about taking over the world., i'm...","[i like watching war documentaries., i volunte...",1.0,1,"{'class': 'User', 'user_id': 'User 00864'}","{'class': 'Bot', 'user_id': 'Bot 002'}"
4,"[{'id': 0, 'sender': 'participant1', 'text': '...",2018-07-03 22:32:42.000,2018-07-03 22:32:42.000,"[i am 40 years old., i work as a car salesman....","[i work for our local supermarket., my favorit...",1.0,1,"{'class': 'User', 'user_id': 'User 00864'}","{'class': 'Bot', 'user_id': 'Bot 005'}"
...,...,...,...,...,...,...,...,...,...
3122,"[{'id': 0, 'sender': 'participant1', 'text': '...",2018-07-08 16:15:15.000,2018-07-08 16:16:38.885,"[i enjoy gardening and walking outdoors., i've...","[i currently work for a watch dealer., i often...",NaN,,"{'class': 'User', 'user_id': 'User 00021'}","{'class': 'Bot', 'user_id': 'Bot 001'}"
3123,"[{'id': 0, 'sender': 'participant2', 'text': '...",2018-07-08 16:39:47.070,2018-07-08 16:41:47.545,"[i live in alabama., i like tacos., i've one b...",[if i am not cooking in the kitchen then i am ...,1.0,1,"{'class': 'User', 'user_id': 'User 00431'}","{'class': 'Bot', 'user_id': 'Bot 006'}"
3124,"[{'id': 0, 'sender': 'participant2', 'text': '...",2018-07-08 16:43:06.148,2018-07-08 16:49:25.783,[i'm a recording engineer and own my own studi...,"[i've not spoken in three months., i live in a...",4.0,0,"{'class': 'User', 'user_id': 'User 00431'}","{'class': 'Bot', 'user_id': 'Bot 004'}"
3125,"[{'id': 0, 'sender': 'participant1', 'text': '...",2018-07-08 17:02:20.000,2018-07-08 17:02:27.309,"[i'm 40 years old., i hate my job., my wife sp...",[i work at a school as a kindergarten teacher....,5.0,1,"{'class': 'User', 'user_id': 'User 00948'}","{'class': 'Bot', 'user_id': 'Bot 001'}"
3126,"[{'id': 0, 'sender': 'participant2', 'text': '...",2018-07-08 21:13:43.843,2018-07-08 21:19:25.446,"[i work for our local supermarket., my favorit...","[i do not drink soda., i like to take walks., ...",1.0,,"{'class': 'User', 'user_id': 'User 00120'}","{'class': 'Bot', 'user_id': 'Bot 010'}"

In [4]:
for i in df.user_profile:
    print(i)
    break

['two dogs live with me.', 'i like doing the treadmill and rowing machine.', "eating is something i do when i'm bored.", 'i have short hair.', 'i go to the gym regularly.']

Cannot find suitable data